@mixin nav-font {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 1rem;
}

@mixin nav-color {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-black;
}

// 1em= 16px
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 30em) {
      @content;
    } //480px % 16px = 30
  }
  @if $breakpoint == tablet-p {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px % 16px = 48
  }
  @if $breakpoint == tablet-l {
    @media only screen and (max-width: 64em) {
      @content;
    } //1024px % 16px = 64
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 80em) {
      @content;
    } //1280px % 16px = 80
  }
}