.flower {
  &__name {
    font-size: $font-size-med;
    font-family: $font-primary;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 100%;
    text-align: center;
    padding-top: 2rem;

    & a {
      text-decoration: none;
      padding: 1rem;
      // background-color: $color-white;
      color: $color-black;
      // border: 1px solid $color-black;

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  &__description {
    font-size: $font-size-small;
    font-family: $font-primary;
    letter-spacing: 1px;
    max-width: 100%;
    font-style: italic;
    color: rgba($color-black, 0.75);
    margin-top: 1rem;
  }
}

.hr-line {
  border-bottom: 4px solid $color-primary;
  width: 450px;
  position: absolute;
  left: -46px;
}
